<nav class="navbar-test" role="navigation" aria-label="main navigation">
  <div class="nav-style">
    <%= image_tag "barra_webrecad_login2.png", :transformation =>
        { :dpr => "auto", :responsive => true} %>
  </div>
</nav>
<div>
  <div class="city-logo">
    <%= image_tag "LOGO_SJR.png", :transformation =>
        { :dpr => "auto", :responsive => true} %>
  </div>
</div>