<div class="nested_fields">
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "phone-textfield"%>
    <%= link_to_remove_association 'Remover', f %>
  </div>
</div>